<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  
  <groups>
  <run>
  <include name="sanity"></include>
  <exclude name="regression"></exclude>
  </run>
  </groups>
  
    <classes>
      <class name="com.jbk.E_P.Tests.LoginPageTest"/>
      <class name="com.jbk.E_P.Tests.HomePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
